.DS_Store
.idea/asm-pong.iml
.idea/discord.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml

.generated_files/
build/
dist/
nbproject/
Makefile*
Package-*
private/
_build/
!cmake/**/user.cmake
cmake/**/.generated/*
cmake/**/CMake*
out/
.vscode/asm-pong.mplab.json
.vscode/extensions.json
.gitignore
.vscode/settings.json
.micropico
