.generated_files/
build/
dist/
nbproject/
Makefile*
Package-*
private/
_build/
!cmake/**/user.cmake
cmake/**/.generated/*
cmake/**/CMake*
.DS_Store
out/asm-pong/

.vscode/extensions.json
.vscode/settings.json

.micropico

config.mcc/
test.X/