.generated_files/
build/
dist/
nbproject/
Makefile*
Package-*
private/
_build/
!cmake/**/user.cmake
cmake/**/.generated/*
cmake/**/CMake*
.DS_Store
out/asm-pong/
.vscode/

.micropico

config.mcc/
test.X/
pcb/pcb-backups/
src/asm-pong.code-workspace
pcb/fp-info-cache